services:
  postgres-auth:
    image: postgres:15
    container_name: pixelflow-postgres-auth
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - pixelflow-net

networks:
  pixelflow-net:
    driver: bridge

volumes:
  postgres_auth_data:
